<!DOCTYPE html>
<html>
<head>
  <title>Stories Signups</title>
  <%= stylesheet_link_tag    'signups', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="signup-main">
    <div class="container">
      <div class="row text-center">
        <h1>Thank You For Your Contact</h1>
        <%= link_to "", '/' %>
        <a href="/" role="button" class="btn btn-primary">Home</a>
      </div>
    </div>
  </section>
        
  
  
  
 
  
</body>
</html>
