<!DOCTYPE html>
<html>
<head>
  <title>Stories About</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="main">
    <div class="container">
      <div class="row text-center">
        <h1>ABOUT BANJO STORIES</h1>
       
      </div>
    </div>
  </section>
  <section class="supporting">
    <div class="container">
      <div class="row text-center">
        <h2>Read Stories with Banjo</h2>
        <h4>The best stories a dog can offer all for your enjoyment</h4>
        <%= link_to "", '/signups/new' %>
        <a href="/signups/new" role="button" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
  </section>
  <section class="secondary">
    <div class="container">
      <div class="row text-center">
        
      </div>
    </div>
  </section>
  <section class="discover">
    <div class="container">
      <div class="row text-center">
        <h3>The Dog That Reads For You</h3> 
        <a href="#" role="button" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </section>

</body>
</html>
