<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="main">
    <div class="container">
      <div class="row text-center">
        <h1>BANJO STORIES</h1>
        <a href="#" role="button" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </section>
  <section class="supporting">
    <div class="container">
      <div class="row text-center">
        <h2>Read Stories with Banjo</h2>
        <h4>The best stories a dog can offer all for your enjoyment</h4>
      </div>
    </div>
  </section>
  <section class="secondary">
    <div class="container">
      <div class="row text-center">
        
      </div>
    </div>
  </section>
  <section class="discover">
    <div class="container">
      <div class="row text-center">
        <h3>The Dog That Reads For You</h3> 
        <a href="#" role="button" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </section>
 <footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy; 2017 Banjo S. Bolin</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <a href="#"><img src="https://image.flaticon.com/icons/svg/8/8800.svg" /></a>
        </li>
        <li class="col-sm-1">
          <a href="#"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" /></a>
        </li>
        <li class="col-sm-1">
          <a href="#"><img src="https://image.flaticon.com/icons/svg/69/69406.svg" /></a>
        </li>
      </ul>
    </div>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
