// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-main {
  background: url("http://images.all-free-download.com/images/graphicthumb/grass_background_201062.jpg");
  background-size: cover;
  height: 400px;
}